@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "reset.scss";
@import "color.scss";
@import "mixin.scss";
@import "timeline.scss";

// colors
.container {
  max-width: 1200px;
  margin: auto;
}

.main-container {
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}

.main-header {
  &__navigation {
    @extend .container;
    padding: 20px 15px;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    &__logo {
      font-family: "Permanent Marker", cursive;
      font-size: 34px;
      color: $primary;
      z-index: 2;
    }
    &__social {
      font-size: 30px;
      a {
        text-decoration: none;
        margin-right: 20px;
        color: $primary;
      }
    }
  }
}
